# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
## User settings
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

## Build generated
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved.backup

# CocoaPods (not used, but ignored defensively)
Pods/

# Carthage (not used, but ignored defensively)
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
*.log
*.swp
